<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <div class="title">Preencha os dados do cliente</div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <form [formGroup]="clienteForm" (ngSubmit)="cadastrarCliente()">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required>
          <mat-error *ngIf="clienteForm.get('nome').invalid && submetido">
            O campo Nome é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-radio-group formControlName="tipoCliente" required>
          <label>Tipo de cliente</label>
          <mat-radio-button value="0">Física</mat-radio-button>
          <mat-radio-button value="1">Jurídica</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="clienteForm.get('tipoCliente').invalid && submetido">
          O campo Tipo de Cliente é obrigatório
        </mat-error>

        <mat-form-field appearance="fill">
          <mat-label>CPF/CNPJ</mat-label>
          <input matInput formControlName="cpfCnpj" [mask]="mascaraCpfCnpj()" required>
          <mat-error *ngIf="clienteForm.get('cpfCnpj').invalid && submetido">
            O campo CPF/CNPJ é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>RG/IE</mat-label>
          <input matInput formControlName="rgIe">
        </mat-form-field>

        <mat-radio-group style="padding: 0px !important;" formControlName="ativo">
          <label>Ativo</label>
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>

        <section formArrayName="telefones">
          <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Número</mat-label>
              <input mask="(00) 00000.0000" matInput formControlName="numero" placeholder="(00) 00000.0000">
            </mat-form-field>
            <button mat-icon-button color="accent" type="button" (click)="removerTelefone(i)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <button mat-button color="primary" type="button" (click)="adicionarTelefone()">Adicionar Telefone</button>
        </section>

        <button mat-raised-button color="primary" type="submit">{{textoBotaoAcao}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>