.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: flex;
  padding-bottom: 5px;
}

mat-radio-group {
  padding-bottom: 10px;
}
