<h1>Lista de Clientes</h1>
<div class="topo">
  <button mat-raised-button color="primary" (click)="abrirModalCadastrar()" title="Cadastrar">
    <i class="fa fa-person"></i> Cadastrar
  </button>

  <form [formGroup]="filtroForm">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ativo</mat-label>
      <mat-select formControlName="ativo">
        <mat-option value="">Todos</mat-option>
        <mat-option value="1">Sim</mat-option>
        <mat-option value="0">Não</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="pesquisar()"><i class="fa fa-search"></i> Pesquisar</button>
    <button mat-raised-button color="" (click)="limpar()"><i class="fa fa-cancel"></i> Limpar</button>
  </form>
</div>

<table class="cliente-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo Cliente</th>
      <th>CPF/CNPJ</th>
      <th>RG/IE</th>
      <th>Data de Cadastro</th>
      <th>Ativo</th>
      <th>Telefones</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.tipoCliente }}</td>
      <td>{{ formatarCpfCnpj(cliente.cpfCnpj) }}</td>
      <td>{{ cliente.rgIe }}</td>
      <td>{{ cliente.dataCadastro | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>{{ cliente.ativo ? 'Sim' : 'Não' }}</td>
      <td>
        <ul class="telefones-list">
          <li *ngFor="let telefone of cliente.telefones">{{ formatarTelefone(telefone.numero) }}</li>
        </ul>
      </td>
      <td>
        <button mat-icon-button (click)="editarCliente(cliente.id)" title="Editar">
          <i class="fa fa-pencil"></i>
        </button>
        <button mat-icon-button (click)="abrirConfirmacaoExclusao(cliente.id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>