.cliente-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cliente-table th, .cliente-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.cliente-table th {
  background-color: #5c0dee;
  color: white;
}

.telefones-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.telefones-list li {
  margin-bottom: 5px;
}

.cliente-table > tbody tr:nth-child(even) {
  background-color: #e9e8ff;
}

.cliente-table > tbody tr:nth-child(odd) {
  background-color: #edecff;
}

.error-snackbar {
  background-color: red;
  color: white;
}

.topo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topo > button {
  height: 40px;
}
