<div>
  <div class="modal-content">
    <p>{{ data.message }}</p>
    <div class="modal-buttons">
      <button (click)="onConfirm()" mat-raised-button color="primary">Ok</button>
      <button (click)="onCancel()" mat-raised-button>Cancelar</button>
    </div>
  </div>
</div>